html, body {
  height: 100%;
  width: 100%;
}

.card:hover {
  cursor: pointer;
}

#paginator > li > a {
  color: black;
}      

#paginator > .active > a {
  background: black;
  color: white;
  border-color: gray;
}

